.input_container {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  left: 12px;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: var(--background-color);
  padding-left: 38px;
  padding-right: 12px;
}
