.conatiner {
  min-width: 260px;
  background-color: var(--card-background);
  padding: 8px;
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--primary-deemphasized-color);
  }
}

.title {
  font-size: 16px;
}

.text {
  font-weight: 400;
}

.created_date {
  font-weight: 400;
  color: var(--secondary-text-on-bg-color);
  margin-top: 4px;
}
