.conatiner {
  min-width: 300px;
  background-color: var(--card-background);
  padding: 8px;
  border-radius: var(--border-radius);
}

.conatiner:hover {
  background-color: var(--primary-deemphasized-color);
}

.title {
  font-size: 16px;
}

.text {
  font-weight: 400;
}

.createdAt {
  font-weight: 400;
  color: var(--secondary-text-on-bg-color);
  margin-top: 4px;
}
