.container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox:hover {
  background-color: var(--hover-card-color);
}

.checkbox:checked {
  background-color: var(--primary-color);
  background-image: url(/src/icons/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.label {
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
}
