.container {
  background-color: var(--card-bg-color);
  position: relative;
  height: var(--navbar-height);
  box-shadow: 0 1px 8px var(--shadow-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-lg);
  z-index: 999;
}

.left_section {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  width: 100%;
}

.logo {
  margin-right: var(--space-sm);
  width: 42px;
  height: 42px;
}

.center_section {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.title {
  white-space: nowrap;
}

.right_section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-sm);
  width: 100%;
}
