.container {
  position: relative;
  font-weight: 500;
  user-select: none;
}

.dropdown_btn {
  min-height: 36px;
  padding: 0 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default {
  background-color: var(--secondary-color);
}

.default:hover {
  background-color: var(--hover-secondary-color);
}

.link {
  background-color: var(--card-background);
}

.link:hover {
  background-color: var(--hover-card-color);
}

.menu {
  position: absolute;
  border-radius: var(--border-radius);
  padding: 8px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: var(--card-background);
  list-style-type: none;
  z-index: 9999;
}

.menu li {
  display: flex;
  align-items: center;
}

.item {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
}

.item:hover {
  background-color: var(--hover-card-color);
}

.dropdown_btn:active,
.item:active {
  transform: scale(0.98);
}