.container {
  position: relative;
  font-weight: 500;
  user-select: none;
}

.dropdown_btn {
  min-height: 36px;
  padding: 0 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  &:active {
    transform: scale(0.98);
  }
}

.disabled {
  background-color: var(--disabled-background);
  color: var(--disabled-text);
  cursor: no-drop;
}

.default {
  background-color: var(--secondary-color);

  &:hover {
    background-color: var(--hover-secondary-color);
  }
}

.link {
  background-color: var(--card-background);

  &:hover {
    background-color: var(--hover-card-color);
  }
}

.primary_deemphasized {
  background-color: var(--primary-deemphasized-color);

  &:hover {
    background-color: var(--hover-primary-deemphasized-color);
  }
}

.menu {
  position: absolute;
  border-radius: var(--border-radius);
  padding: 8px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: var(--card-background);
  list-style-type: none;
  z-index: 9999;

  li {
    display: flex;
    align-items: center;
  }
}

.item {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: var(--hover-card-color);
  }

  &:active {
    transform: scale(0.98);
  }
}
