.container {
  display: inline-block;
  position: relative;
  font-weight: 500;
  user-select: none;

  input:not(:checked) + .item:hover {
    background-color: var(--hover-card-color);
    cursor: pointer;
  }

  input:checked + .item {
    background-color: var(--primary-deemphasized-color);
  }
}

.status_select_btn {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: var(--table-cell-padding);
  font-size: var(--table-font-size);
  cursor: pointer;

  &:active {
    .indicator {
      transform: scale(1.2);
    }
  }
}

.input {
  display: none;
}

.menu {
  position: absolute;
  top: 100%;
  border-radius: var(--border-radius);
  padding: 8px;
  margin-top: 4px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  background-color: var(--card-background);
  list-style-type: none;
  z-index: 99;

  li {
    display: flex;
    align-items: center;
  }
}

.item {
  padding: 8px;
  border-radius: 4px;
  white-space: nowrap;
  width: 100%;

  &:active {
    transform: scale(0.98);
  }
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 6px;
}
