.container {
  height: auto;
  display: flex;
  align-items: flex-end;
}

.text_input_frame {
  width: 100%;
  padding: 12px 16px;
  margin-right: 8px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  cursor: text;
}

.text_input {
  overflow: auto;
  border: 0;
  outline: 0;
  width: 100%;
  resize: none;
  background-color: var(--background-color);
}

.btn {
  min-width: 40px;
}

.send_icon {
  transform: rotate(45deg);
  margin-left: -4px;
}
