.container {
  position: absolute;
  z-index: 99999999;
  left: 50%;
  transform: translate(-50%, 0);
  top: 24px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px 0 var(--shadow-1);
  background-color: #000;
  gap: 8px;
  padding: 12px 12px 12px 16px;
}

.success {
  background-color: var(--success-color);
}

.danger {
  background-color: var(--danger-color);
}

.warning {
  background-color: var(--warning-color);
}

.text {
  white-space: nowrap;
  color: white;
}

.close_button {
  cursor: pointer;
}
