.trigger {
  font-size: var(--table-font-size);
  white-space: nowrap;
  font-weight: 500;

  &:active {
    .indicator {
      transform: scale(1.2);
    }
  }
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 6px;
  display: inline-block;
}

.item {
  padding: 4px 12px;
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--hover-card-bg-color);
  }
}

.selected_item {
  display: none;
}
