.container {
  display: flex;
  margin-left: 4px;
  flex-wrap: wrap;
}

.item {
  margin-left: -5px;
  transition: 0.2s scale ease-out;

  &:hover {
    z-index: 2;
    scale: (1.5);
  }
}

.image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  outline: 3px solid var(--card-background);
  outline-offset: -1px;
  object-fit: cover;
}
