.container {
  display: flex;
  flex-direction: row;
}

.left_section {
  flex: 1;
  padding: var(--space-lg);
  padding-right: 0;
  cursor: pointer;
}

.right_section {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-lg);
  padding-left: var(--space-sm);
}

.header {
  display: flex;
}

.image {
  height: 64px;
  min-width: 64px;
  max-width: 64px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-right: 12px;
  margin-bottom: 4px;
}
