.result {
  background-color: var(--card-background);
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 0 8px;
  cursor: pointer;
}

.result:hover {
  background-color: var(--hover-card-color);
}

.type_image {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.type_container {
  display: flex;
  flex-direction: column;
}

.product_name {
  margin-bottom: 2px;
}

.type_name {
  font-size: 12px;
}

.not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
}
