.card {
  background-color: var(--card-background);
  padding: 16px;
  max-height: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px var(--shadow-2);
  display: flex;
  cursor: default;
}

.info_container {
  margin-right: 12px;
}

.main_info {
  display: flex;
}

.img {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-right: 12px;
  margin-bottom: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.product_name {
  margin-bottom: 4px;
  font-size: 16px;
}

.product_param {
  margin-bottom: 4px;
  margin-right: 8px;
}

.product_param_color {
  padding: 2px 4px;
  border-radius: var(--border-radius);
}

.product_price {
  margin-bottom: 4px;
  margin-right: 8px;
}

.product_quantity {
  margin-bottom: 4px;
}

.product_comment {
  margin-top: 8px;
}

.controls {
  margin-left: auto;
}
