.columns {
  display: flex;
  margin-bottom: 12px;
}

.controls_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main_controls {
  display: flex;
  gap: 12px;
}

.controls {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.image {
  margin-right: 24px;
}

.features_container {
  flex-wrap: wrap;
  margin-top: 12px;
}

.feature_item {
  display: flex;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}
