.container {
  overflow: auto;
}

.message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.table {
  border-spacing: 0;
}

.column {
  padding: var(--table-column-padding);
  max-width: 100px;
  border-bottom: 1px solid var(--talbe-border-color);
  color: var(--secondary-text-on-bg-color);
  font-weight: 400;
  text-align: left;
  cursor: default;
}

.row {
  cursor: pointer;
}

.cell {
  padding: var(--table-cell-padding);
  border-bottom: 1px solid var(--talbe-border-color);
}

.custom_cell {
  border-bottom: 1px solid var(--talbe-border-color);
}

.pagination {
  border-top: 1px solid var(--separator-color);
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
