.container {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.column {
  border-bottom: 0.5px solid var(--table-border-color);
  padding: var(--table-column-padding);
  font-weight: 500;
  white-space: nowrap;
  font-size: var(--table-font-size);
  text-align: left;
  user-select: none;
  cursor: default;

  &:first-child {
    padding-left: var(--space-lg);
  }
}

.sortable_column {
  font-size: var(--table-font-size);
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  cursor: pointer;
}

.not_sortable_column {
  font-size: var(--table-font-size);
}

.row {
  border-bottom: 0.5px solid var(--table-border-color);

  &:last-child {
    border-bottom: none;
  }
}

.clickable_row {
  cursor: pointer;
}

.cell {
  font-size: var(--table-font-size);

  &:first-child {
    padding-left: var(--space-lg);
  }

  &:last-child {
    padding-right: var(--space-lg);
  }

  &:not(:has(div)) {
    padding: var(--table-cell-padding);
  }
}

.message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
