.default,
.link {
  min-height: 36px;
  min-width: max-content;
  color: var(--primary-text-color);
  padding: 0 12px;
  font-weight: 500;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.default {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.default:hover {
  background-color: var(--hover-secondary-color);
}

.link {
  background-color: transparent;
}

.link:hover {
  background-color: var(--hover-card-color);
}

.default:active,
.link:active {
  transform: scale(0.98);
}

.default:disabled,
.link:disabled {
  background-color: var(--disabled-background);
  color: var(--disabled-text);
  cursor: no-drop;
}
