.container {
  background-color: var(--card-background);
  width: auto;
  height: auto;
  padding: 12px;
  box-shadow: 0 2px 12px var(--shadow-2), inset 0 0 0 1px var(--shadow-inset);
  border-radius: var(--border-radius);
}

.top_section {
  display: flex;
  justify-content: space-between;
}

.user_container {
  display: flex;
  align-items: flex-start;
}

.user_avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.user_info {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.user_name {
  font-size: 16px;
  margin-bottom: 4px;
}

.user_phone {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.user_no_phone {
  color: var(--secondary-text-color);
}

.user_social {
  display: flex;
  margin-top: 12px;
  margin-bottom: 16px;
  gap: 8px;
}

.social_img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  pointer-events: auto;
}
