.container {
  border-bottom: 1px solid var(--separator-color);
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.left_section {
  display: flex;
  gap: 8px;
}

.right_section {
  display: flex;
  gap: 8px;
}
