.container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.section {
  border-spacing: 0;
}

.column {
  padding: var(--table-column-padding);
  max-width: 100px;
  border-bottom: 1px solid var(--talbe-border-color);
  color: var(--secondary-text-on-bg-color);
  font-weight: 400;
  text-align: left;
  cursor: default;
}

.cell {
  padding: var(--table-cell-padding);
  border-bottom: 1px solid var(--talbe-border-color);
}
