.container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-weight: 500;
  gap: var(--space-xs);
  height: 46px;
  user-select: none;
  transition: background-color 200ms;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  padding: 0 var(--space-sm);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover:not(.active, .disabled) {
    background-color: var(--hover-card-bg-color);
  }
}

.active {
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  cursor: default;
}
