.row {
  border-bottom: 0.5px solid var(--table-border-color);

  &:hover {
    background-color: var(--hover-card-bg-color);
  }

  &:last-child {
    border-bottom: none;
  }
}

.clickable_row {
  cursor: pointer;
}

.active_row {
  color: var(--success-color);
}

.editor_row {
  background: radial-gradient(
    circle 1000px,
    var(--secondary-deemphasized-color),
    transparent
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
}

.editor_text {
  font-size: var(--table-font-size);
}

.cell {
  font-size: var(--table-font-size);

  &:first-child {
    padding-left: var(--space-lg);
  }

  &:last-child {
    padding-right: var(--space-lg);
  }

  &:not(:has(div)) {
    padding: var(--table-cell-padding);
  }
}
