.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-sm) var(--space-lg);
}

.left_section {
  display: flex;
  gap: var(--space-sm);
}

.right_section {
  display: flex;
  gap: var(--space-sm);
}
