.container {
  height: 100%;
  display: flex;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  padding: var(--space-xl);
}

.header_cards {
  display: flex;
  gap: var(--space-lg);
}

.search {
  width: 100%;
}

.shops {
  display: flex;
  gap: var(--space-sm);
}

.table {
  height: 100%;
  overflow: auto;
}

.message {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
