.container {
  width: 434px;
}

.controls_container {
  padding-top: 4px;
  margin-bottom: 12px;
  max-height: 360px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.param_item {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--secondary-deemphasized-color);
  padding: 4px;
  padding-left: 12px;
  border-radius: var(--border-radius);
}


.controls {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}