.container {
  background-color: var(--card-background);
  padding: 16px;
  max-height: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  gap: 12px;
  user-select: none;
}

.completed {
  background-color: var(--completed-color);
  margin: -16px -16px 16px -16px;
  padding: 12px 16px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;

  div {
    color: var(--completed-text-color);
  }
}

.completed_icon {
  fill: var(--completed-text-color);
}

.title_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
}

.title_completed {
  text-decoration: line-through;
  color: var(--secondary-text-color);
}

.avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.description {
  color: var(--secondary-text-color);
  line-height: 22px;
  margin-top: 8px;
}

.info {
  display: flex;
  column-gap: 8px;
  row-gap: 4px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 2px;
}

.item_icon {
  stroke: var(--secondary-text-color);
  stroke-width: 1.25px;
  width: 20px;
  height: 20px;
}

.item_text {
  color: var(--secondary-text-color);
  margin-top: 2px;
  font-size: 12px;
}

.urgent {
  background-color: var(--danger-color);
  padding: 2px 6px;
  border-radius: 4px;
  color: white;
}
