.container {
  padding: var(--space-md);
  display: flex;
}

.left_section {
  display: flex;
  flex: 1;
  margin-right: var(--space-sm);
}

.right_section {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.user_info {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-md);
}

.user_social {
  display: flex;
  gap: var(--space-sm);
}

.social_img {
  width: 18px;
  height: 18px;
  margin-top: var(--space-md);
}
