.container {
  position: relative;
}

.search_input {
  padding-left: 37px;
}

.result_container {
  margin-top: var(--space-md);
  min-height: 52px;
  width: 100%;
  z-index: 9999;
  padding: var(--space-sm);
}

.results {
  overflow: auto;
  height: 100%;
}

.not_found {
  text-align: center;
  padding: 15.5px;
}

.footer {
  margin-top: var(--space-sm);
}
