.container {
  /* width: 538px; */
}

.columns {
  display: flex;
}

.main_controls {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.controls {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.image {
  width: 140px;
  height: 140px;
  border-radius: var(--border-radius);
  margin-right: 24px;
  object-fit: cover;
}
