.default,
.primary,
.primary_deemphasized,
.link {
  min-height: 36px;
  width: 100%;
  color: var(--primary-text-color);
  padding: 0 12px;
  font-weight: 500;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.default {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.default:hover {
  background-color: var(--hover-secondary-color);
}

.primary {
  background-color: var(--primary-color);
}

.primary:hover {
  background-color: var(--hover-primary-color);
}

.primary_deemphasized {
  background-color: var(--primary-deemphasized-color);
  color: var(--text-color);
}

.primary_deemphasized:hover {
  background-color: var(--hover-primary-deemphasized-color);
}

.link {
  color: var(--primary-color);
  background-color: transparent;
  height: 24px;
  border: 0;
}

.link:hover {
  color: var(--hover-primary-color);
}

.default:active,
.primary:active,
.primary_deemphasized:active,
.link:active {
  transform: scale(0.98);
}

.default:disabled,
.primary:disabled,
.primary_deemphasized:disabled,
.link:disabled {
  background-color: var(--disabled-background);
  color: var(--disabled-text);
  cursor: no-drop;
}
