.container {
  display: flex;
}

.search_container {
  display: flex;
  gap: var(--space-sm);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.form_columns {
  display: flex;
  gap: var(--space-sm);
}

.footer {
  display: flex;
  gap: var(--space-sm);
  margin: var(--space-modal) 0;
}

.footer_button {
  width: 100%;
}
