.container {
  background-color: var(--background-color);
  height: 100vh;
}

.panel {
  background-color: var(--card-background);
  height: calc(100vh - 128px);
  margin: 24px 16px 16px 24px;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px var(--shadow-2);
  padding: 16px;
  display: flex;
  gap: 24px;
}

.avatar_container {
  width: 160px;
  height: 160px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar_fogging {
  background: #000;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: opacity 200ms;
}

.avatar_fogging:hover {
  opacity: 0.4;
}

.avatar_edit_icon {
  z-index: 2;
  opacity: 0;
  transition: opacity 200ms;
}

.avatar_container:hover .avatar_edit_icon {
  opacity: 1;
}

.avatar {
  position: relative;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error_message {
  color: var(--danger-color);
}
