.container {
  background-color: var(--card-background);
  min-width: 206px;
  height: calc(100vh - 104px);
  box-shadow: 1px 0 8px var(--shadow-1);
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: min-width 0.5s ease-in-out;
  font-weight: 500;

  input {
    display: none;

    &:not(:checked) + .rbtn:hover {
      background-color: var(--hover-card-color);
      cursor: pointer;
    }

    &:checked + .rbtn .rbtn_icon {
      background-color: var(--primary-color);
    }
  }
}

.text {
  position: absolute;
  left: 68px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.btn {
  height: 56px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-card-color);

    .tooltip {
      visibility: visible;
    }
  }
}

.btn_icon {
  height: 36px;
  min-width: 36px;
  background-color: var(--primary-deemphasized-color);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rbtn {
  height: 56px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: default;
}

.rbtn_icon {
  height: 36px;
  min-width: 36px;
  background-color: var(--secondary-color);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 8px;

  &:hover {
    background-color: var(--hover-card-color);
  }
}
