.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__close-icon {
  margin-right: 40px;
}

.react-datepicker-popper {
  width: max-content;
}

// .light-theme {
//   --light-gray: var(--chakra-colors-gray-200);
//   --gray: var(--chakra-colors-gray-300);
//   --blue700: var(--chakra-colors-blue-600);
//   --blue600: var(--chakra-colors-blue-500);
//   --blue500: var(--chakra-colors-gray-400);
//   --blue400: var(--chakra-colors-gray-300);
//   --blue300: var(--chakra-colors-gray-200);
//   --blue200: var(--chakra-colors-gray-200);
//   --blue100: var(--chakra-colors-gray-100);
//   --monthBackground: var(--chakra-colors-white);
//   --text: var(--chakra-colors-black);
//   --negative-text: var(--chakra-colors-white);
// }
// .dark-theme {
//   --light-gray: var(--chakra-colors-gray-600);
//   --gray: var(--chakra-colors-gray-500);
//   --blue700: var(--chakra-colors-blue-600);
//   --blue600: var(--chakra-colors-blue-300);
//   --blue500: var(--chakra-colors-gray-500);
//   --blue400: var(--chakra-colors-gray-600);
//   --blue300: var(--chakra-colors-gray-700);
//   --blue200: var(--chakra-colors-gray-600);
//   --blue100: var(--chakra-colors-gray-800);
//   --monthBackground: var(--chakra-colors-gray-700);
//   --text: var(--chakra-colors-gray-200);
//   --negative-text: var(--chakra-colors-black);
// }

/* if you dont want to use chakra's theme use this class in the wrapping div. These are the exact original values */
.light-theme-original {
  --light-gray: #cccccc;
  --gray: #b3b3b3;
  --blue700: #2a69ac;
  --blue600: #3182ce;
  --blue500: #a0aec0;
  --blue400: #cbd5e0;
  --blue300: #e2e8f0;
  --blue200: #edf2f7;
  --blue100: #f7fafc;
}

///////////////////////////////////////////
.react-datepicker {
  border-radius: var(--border-radius);
  border-color: var(--border-color);
}

.react-datepicker__header {
  background-color: var(--card-bg-color);
}

.react-datepicker__header,
.react-datepicker__time-container {
  border-color: var(--border-color);
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-weight: 600;
  color: var(--text-color);
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: var(--hover-card-bg-color);
}

.react-datepicker__day {
  color: var(--text-color);
}

.react-datepicker__day:hover {
  background-color: var(--hover-card-bg-color);
}

.react-datepicker__day-name {
  color: var(--text-color);
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-weight: 600;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background-color: var(--primary-color);
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range:hover {
  background-color: var(--primary-color);
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}

// .react-datepicker__day--holidays {
//   background-color: red;
// }

// .react-datepicker__close-icon::after {
//   background-color: unset;
//   border-radius: unset;
//   font-size: 1.5rem;
//   font-weight: bold;
//   color: lightgray;
//   height: 20px;
//   width: 20px;
// }

// .react-datepicker__close-icon::after:hover {
//   color: gray;
// }
