.container {
  position: relative;
  margin-bottom: 8px;
}

.loader {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: var(--card-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-bottom: 16px;
}

.separator {
  border-right: 1px solid var(--separator-color);
}

.employees_container {
  min-height: 300px;
  min-width: 300px;
  max-width: 1360px;
  max-height: 400px;
  display: flex;
  gap: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text-on-bg-color);
}

.items_container {
  overflow: auto;
  height: 100%;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 300px;
  margin-bottom: 16px;
}
