.result {
  background-color: var(--card-background);
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding: 0 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-card-color);
  }
}

.assortment_stock {
  font-size: 12px;
  color: white;
  background-color: var(--success-color);
  padding: 4px;
  border-radius: 4px;

  &.danger {
    background-color: var(--danger-color);
  }
}

.not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
}
