.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
}

.watcher_item {
  display: flex;
  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
