.container {
  position: relative;
}

.badge {
  position: absolute;
  z-index: 999;
  height: var(--border-radius);
  width: var(--border-radius);
  border-radius: 50%;
  background-color: var(--danger-color);
  right: 2px;
  top: 2px;
}

.notifications_header {
  display: flex;
  justify-content: space-between;
}

.notifications_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
  padding: 8px;
}

.notifications {
  max-height: 450px;
  width: 100%;
  overflow: auto;
}

.no_notifications {
  padding: 8px;
}

.loader_container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
