.notifications_header {
  display: flex;
  justify-content: space-between;
}

.notifications_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
  padding: 8px;
}

.notifications {
  max-height: 450px;
  overflow: auto;
}

.no_notifications {
  min-width: 300px;
  padding: 8px;
}