.container {
  display: flex;
  gap: var(--space-sm);
}

.form_container {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.header {
  display: flex;
  gap: var(--space-sm);
  margin: var(--space-sm) 0;
}

.header_button {
  width: 100%;
}

.footer {
  display: flex;
  gap: var(--space-sm);
  margin: var(--space-modal) 0;
}

.footer_button {
  width: 100%;
}
