$notifications-height: 450px;
$notifications-width: 450px;
$sentry-height: 50px;

.notifications_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm);
  margin-left: var(--space-sm);
}

.notifications {
  min-height: $notifications-height;
  max-height: $notifications-height;
  width: $notifications-width;
  overflow: auto;
  padding-bottom: var(--space-sm);
}

.no_notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  height: calc($notifications-height - $sentry-height);
}

.sentry {
  height: $sentry-height;
}
