.container {
  background-color: var(--card-background);
  width: auto;
  height: auto;
  padding: 12px;
  box-shadow: 0 2px 12px var(--shadow-2), inset 0 0 0 1px var(--shadow-inset);
  border-radius: var(--border-radius);
  margin-bottom: 8px;
}

.completed {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;

  div {
    color: var(--completed-text-color);
    font-weight: 500;
  }
}

.icon {
  fill: var(--completed-text-color);
}

.cancel_btn {
  margin-top: 8px;
}
