.caution {
  text-align: center;
  margin-bottom: var(--space-lg);
  color: var(--secondary-card-text-color);
  font-size: 12px;
}

.message_container {
  overflow: auto;
  height: 300px;
  padding-right: var(--space-lg);
}

.message {
  margin: 0 0 var(--space-xl) 0;
}

.message_input {
  padding: var(--space-lg);
  padding-top: var(--space-sm);
}
