.container {
  background-color: var(--card-bg-color);
  height: calc(100vh - var(--navbar-height));
  min-width: 300px;
  max-width: 300px;
  box-shadow: 1px 0 8px var(--shadow-1);
  padding: var(--space-xl) var(--space-sm);
}
