@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html[data-theme='light'] {
  /* COLORS */
  --primary-color: #ffdc2e;
  --primary-deemphasized-color: #fff3b8;
  --secondary-deemphasized-color: #f5f4f0;
  --card-bg-color: #ffffff;
  --bg-color: #f5f4f0;
  --table-border-color: #e2e1dd;
  --primary-text-color: #000000;
  --secondary-text-color: #6b6a65;
  --secondary-card-text-color: #6b6a65;
  --text-color: #1a1a18;
  --border-color: var(--chakra-colors-chakra-border-color);
  --divider-color: #e2e1dd;
  --primary-icon-color: #000000;
  --link-icon-color: #6b6a65;
  --link-checked-stroke-icon-color: #332a00;
  --link-checked-fill-icon-color: #ffdc2e;
  --danger-color: #eb5c5c;
  --success-color: #14a44d;
  --warning-color: #ff8c00;
  --completed-color: #daf5da;
  --completed-text-color: #14a44d;

  /* COLORS: HOVER */
  /* --hover-primary-color: #FFD400; */
  --hover-card-bg-color: #f5f4f0;

  /* COLORS: DISABLED */
  /* --disabled-text: #a3a3a3; */
}

html[data-theme='dark'] {
  /* COLORS */
  --primary-color: #ffeb8a;
  --primary-deemphasized-color: #fff3b8;
  --secondary-deemphasized-color: rgba(255, 255, 255, 0.04);
  --card-bg-color: #262624;
  --bg-color: #1a1a18;
  --table-border-color: #42413e;
  --primary-text-color: #1a1a18;
  --secondary-text-color: #6b6a65;
  --secondary-card-text-color: #b3b3b3;
  --text-color: #ffffffeb;
  --border-color: var(--chakra-colors-chakra-border-color);
  --divider-color: rgba(255, 255, 255, 0.16);
  --primary-icon-color: #000000;
  --link-icon-color: #b8b7b0;
  --link-checked-stroke-icon-color: #ffeb8a;
  --link-checked-fill-icon-color: transparent;
  --danger-color: #eb5c5c;
  --success-color: #14a44d;
  --warning-color: #ff8c00;
  --completed-color: #3b423b;
  --completed-text-color: #daf5da;

  /* COLORS: HOVER */
  /* --hover-primary-color: #FFE45C; */
  --hover-card-bg-color: #333331;

  /* COLORS: DISABLED */
  /* --disabled-text: #767675; */
}

:root {
  /* SIZES */
  --navbar-height: 56px;
  --border-radius: var(--chakra-radii-md);
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 24px;
  --space-2xl: 30px;
  --space-modal: 14px;
  --table-column-padding: 12px 8px;
  --table-cell-padding: 8px;
  --table-font-size: 12px;
  --page-panel-height: calc(
    100vh - var(--navbar-height) - var(--space-xl) - var(--space-lg)
  );
  --page-panel-margin: var(--space-xl) var(--space-lg) var(--space-lg)
    var(--space-xl);

  /* SHADOWS */
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-inset: rgba(255, 255, 255, 0.05);

  /* CONTEXT MENU */
  --contexify-menu-bgColor: var(--card-bg-color);
  --contexify-menu-shadow: none;
  --contexify-menu-padding: 0;
  --contexify-menu-radius: var(--border-radius);
  --contexify-menu-minWidth: max-content;
  --contexify-separator-color: var(--border-color);
  --contexify-item-color: var(--text-color);
  --contexify-activeItem-color: var(--text-color);
  --contexify-activeItem-bgColor: var(--hover-card-bg-color);
  --contexify-rightSlot-color: var(--link-icon-color);
  --contexify-activeRightSlot-color: var(--link-icon-color);
  --contexify-arrow-color: var(--link-icon-color);
  --contexify-activeArrow-color: var(--link-icon-color);
  --contexify-itemContent-padding: 7px 14px;
  --contexify-activeItem-radius: 0;
}

* {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.primary-icon {
  stroke: var(--primary-icon-color);
}

/* .primary-checked-icon {
  stroke: var(--primary-checked-icon-color);
}

.secondary-icon {
  stroke: var(--secondary-icon-color);
}

.secondary-checked-icon {
  stroke: var(--secondary-checked-icon-color);
}

.secondary-disabled-icon {
  stroke: var(--disabled-secondary-icon-color);
}

.secondary-dark-icon {
  stroke: var(--secondary-dark-icon-color);
} */

.link-icon {
  stroke: var(--link-icon-color);
}

.link-checked-icon {
  stroke: var(--link-checked-stroke-icon-color);
  fill: var(--link-checked-fill-icon-color);
}
